@import './Sidebar.css';
@import './Cabinets.css';
@import './Settings.css';
@import './ToggleButton.css';
@import './AppPreferences.css';
@import './UI.css';

body, html, #app {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

.content {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
    scrollbar-gutter: stable;
}

::-webkit-scrollbar-track {
    background: rgb(169, 223, 169);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background: rgb(123, 161, 123);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.selection-circle {
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }

  .selection-circle.selected {
    background-color: #000;
  }
