/* Importing the Single Day font */
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

.font-style-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.font-style-dropdown {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    margin: 0;
    flex-shrink: 0;
}



.font-arial {
    font-family: Arial, sans-serif !important;
}

.font-arial button, .font-arial input {
    font-family: Arial, sans-serif !important;
}

.font-times-new-roman {
    font-family: "Times New Roman", serif !important;
}

.font-times-new-roman button, .font-times-new-roman input {
    font-family: "Times New Roman", serif !important;
}

.font-verdana {
    font-family: Verdana, sans-serif !important;
}

.font-verdana button, .font-verdana input {
    font-family: Verdana, sans-serif !important;
}

.font-courier-new {
    font-family: "Courier New", monospace !important;
}

.font-courier-new button, .font-courier-new input {
    font-family: "Courier New", monospace !important;
}

.single-day-regular {
    font-size: 20px  !important;
    font-family: "Single Day", serif !important;
}

.single-day-regular button, .single-day-regular input {
    font-size: 20px  !important;
    font-family: "Single Day", serif !important;
}

.preview-text {
    margin-top: 20px;
}
