.settings-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    min-width: 600px;
}

.settings-box {
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 300px;

}

.settings-box h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #333;
}

.settings-box p {
    margin: 0 0 15px 0;
    font-size: 14px;
    color: #666;
}

.activityTracking-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.activityTracking-list strong {
    margin-right: 10px;
}

.activityTracking-list li {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
}


.appPreferences-list {
    list-style: none;
    padding: 0;
    margin: 0;
}


.appPreferences-list strong {
    margin-right: 10px;
}

.appPreferences-list li {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
}

.profile-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-list li strong {
    margin-right: 10px;
}

.profile-list li {
    margin-bottom: 20px;
    font-size: 14px;
    color: #333;
}

.profile-list strong {
    font-weight: bold;
}

.profile-picture img {
    display: block;
    margin-top: 10px;
    border-radius: 50%;
    border: 1px solid #ddd;
    width: 100px;
    height: 100px;
}


.edit-button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: absolute;
    right: 10px;
}

.edit-icon {
    width: 20px;
    height: auto;
    transition: transform 0.2s ease;
}

.edit-button:hover .edit-icon {
    transform: scale(1.1);
}


.privacy-policy-container {
    display: flex;
    align-items: center;
    gap: 0.rem;
}

.privacy-policy-link {
    display: inline-flex;
    align-items: center;
}

.privacy-policy-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.AccountManagement-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.AccountManagement-list li strong {
    margin-right: 10px;
}

.AccountManagement-list li {
    margin-bottom: 20px;
    font-size: 12px;
    color: #333;
}

.AccountManagement-list strong {
    font-weight: bold;
}

.AccountManagement-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.delete-family-button{
    background-color: red;
    border-radius: 20px;
    align-items: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}


.delete-family-button:hover{
    background-color: rgb(221, 138, 138);
}

.delete-button{
    background-color: red;
    border-radius: 20px;
    align-items: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-button:hover{
    background-color: rgb(221, 138, 138);
}
